body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px; /* Espaço entre calculadora e botões */
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

}

.calculadora-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #333;
}

.entrada-compasso, .entrada-figura, .figuras-botoes {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="number"], select, button {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.compasso-atual {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

#lista-figuras {
    list-style: none;
    padding: 0;
    max-height: 650px;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}

#lista-figuras li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-figuras li:last-child {
    border-bottom: none;
}

#mensagem-status {
    font-weight: bold;
    margin-top: 10px;
}

.status-completo {
    color: green;
}

.status-incompleto {
    color: orange;
}

.status-excedido {
    color: red;
}

.container-botoes {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.figuras-botoes {
    display: flex;
    flex-direction: column;
}

.titulo-botoes {
    display: flex;
    justify-content: center; 
}

.img-texto-botao {
    display: flex;
    align-items: center; /* Alinha verticalmente imagem e texto */
    justify-self: flex-start;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    gap: 8px;
}

.imagem-notas-semibreve {
    width: 7px;
    height: 8px;
}

.imagem-notas {
    width: 15px;
    height: 30px;
}